



.hello__title {
    font-size: 30px;
    color: #b1adad;
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.hello__title {
    text-align: center;
    font-size: 50px;
}
.fa-brands {
    margin-right: 15px;
    font-size: 35px;
    color: #807f7f;
}
.fa-brands:hover {
    transform: scale(1.1);
}
.fa-html5 {
    color: orange;
}
.fa-css3 {
    color: blue;
}
.fa-js {
    color: yellow;
}
.fa-sass {
    color: #e77a8c;
}